.contact-page-container {
  max-height: 400px;
  color: #f3f7f0;
  font-size: 1em;
  overflow: hidden;
  color: #f3f7f0;
  display: grid;
  background-image: url('https://picsum.photos/1000');
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  // filter: rgb(116, 12, 12);
  // filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  height: 150px;
  h1 {
    margin: auto;
    mix-blend-mode: lighten;
    font-size: 3em;
    font-weight: bold;
  }
}
form {
  background-color: #2c2c2c;
  padding: 20px;
  margin-bottom: 20px;
  p {
    mix-blend-mode: difference;
    color: white;
    font-size: 0.7em;
  }
}
label {
  display: block;
}
button {
  border: none;
  color: #f3f7f0;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(16, 78, 211);
}
input,
textarea {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #f3f7f0;
  color: #f3f7f0;
  outline: none;
  padding: 2px 10px;
  width: 100%;
  border-radius: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  animation-delay: 1s; /* Safari support - any positive time runs instantly */
  animation-name: autofill;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.contactImg {
  pointer-events: none;
}
