@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  font-style: normal;
  src: url('/avenir-400.woff2') format('woff2');
  font-display: swap;
}
/* https://www.colorsandfonts.com/palettes.html */
/* F2545B - A93F55 - 19323C - F3F7F0 - 8C5E58  pallets used pump */
.allcolorfortes {
  color: #f2545b;
  color: #a93f55;
  color: #19323c;
  color: #f3f7f0;
  color: #8c5e58;
}

body {
  font-family: 'Avenir', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373f49;
  background: #19323c;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Baskerville', serif;
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
  font-family: 'Lato', sans-serif;
}
p {
  font-family: 'Lato', sans-serif;
}

.wrapper-recent {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
  border-bottom: 4px solid #19323c;
}
.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}
.container-embed {
  width: 50%;
  display: block;
  margin: 20px auto;
}
/* .container-embed iframe {
  margin: 0 auto;
  display: block;
}
 */
.sticky-on {
  padding-top: 60px;
}
