@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
.navigation {
  font-size: 1.25em;
  z-index: 100;
  transition: all 1s;
}
.navigation ul {
  padding: 0;
}
.logo-container {
  width: 100%;
  padding: 10px 0;
}
.logo-container h3,
.logo-container p {
  font-family: 'Merriweather', serif;
  margin: 0 auto;
  text-align: center;
}
.logo-container h3 {
  color: #f3f7f0;
}
.logo-container p {
  color: #a93f55;
  /* text-decoration: underline #f3f7f0; */
}

.logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}
/* .navigationItem {
  display: inline-flex;
  align-items: center;

  margin: 0 1em;
}

.navigationItem a {
  text-decoration: none;
} */
.navigation-link {
  color: #7e7e7e;
  margin: 10px;
}

a:hover {
  color: #2c2c2c;
  text-decoration: none;
}

.active-nav {
  color: #000000;
}
